* {
	padding: 0;
	margin: 0;
}

.header__background {
	height: 100vh;
	background-image: url(../img/backg.gif);
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}

.wrapper {
	z-index: 3;
	position: fixed;
	transition: 0.5s;
	height: 100%;
	width: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	background-color: #0f0f0f;
}

.sidepanel {
	height: 100%;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidepanel a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
	font-family: "Playfair Display";
}

.sidepanel a:hover {
	color: #292929;
}

.sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #0f0f0f;
	color: #fff;
	padding: 10px 15px;
	border: none;
	font-family: "Playfair Display";

}

.openbtn:hover {
	background-color: #292929;
	color: #fff;
}

.nav__contact {
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	background-color: #0f0f0f;
	color: #fff;
	padding: 10px 15px;
	border: none;
	font-family: "Playfair Display";
}

.nav__contact:hover {
	background-color: #292929;
	color: #fff
}

.header__content {
	z-index: 2;
	font-size: 3vw;
	color: #D8D8D8;
	font-family: "Playfair Display";
}

.effects {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.but {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__link {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #5f2dca;
	background: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 27px;
	letter-spacing: 2px;
	overflow: hidden;
	transition: 0.2s;
	z-index: 3;
	cursor: pointer;
	border: solid 1px #5f2dca;
}

.main__link:hover {
	background-color: rgba(90, 49, 213, 0.4);
	color: #fff;
}